@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
  background-color: $colorDark;
  background-image: url("../../../assets/images/GetConsultBanner__img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorDark;
    opacity: 0.9;
    z-index: 1;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 19.5rem;
  padding-bottom: 10rem;
  z-index: 1;
}

.slogan {
  @include h2;

  margin: 0;
}

.descriptor {
  @include fontValue($colorLightest, 300);

  margin: 2.4rem 0 0 0;
  padding: 0 22%;
  font-size: 1.9rem;
  line-height: 3.3rem;
  text-align: center;
}

.form {
  margin-top: 3.2rem;
}

.iconSent {
  margin: 3.5rem auto 0 auto;
  width: 6.3rem;
  fill: $colorLightest;
  opacity: 0.5;
}

.success {
  @include fontRegular($colorLightest, 400);

  margin: 1.7rem 0 0 0;
  text-align: center;
}

@media (max-width: $adaptiveMax) {
  .container {
    padding-top: 18.4rem;
    padding-bottom: 18.3rem;
  }

  .slogan {
    text-align: center;
  }

  .descriptor {
    margin: 1.2rem 0 0 0;
    padding: 0;
  }
}
