@font-face {
  font-family: "FuturaPT";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPT-Book.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
  font-family: "FuturaPT";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPTDemi.woff2") format("woff2"),
    url("../assets/fonts/FuturaPTDemi.woff") format("woff");
}

@font-face {
  font-family: "FuturaPT";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Medium.woff") format("woff");
}

@font-face {
  font-family: "FuturaPT";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPTBold.woff2") format("woff2"),
    url("../assets/fonts/FuturaPTBold.woff") format("woff");
}

@font-face {
  font-family: "FuturaPT";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPT-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-ExtraBold.woff") format("woff");
}
