// screen sizes
$adaptiveMax: 1279px;

// colors
$colorBgDarker: rgb(190, 213, 225);
$colorBgButton: rgb(246, 246, 246);
$colorBgPanel: rgb(126, 144, 172);
$colorBgTab: rgb(238, 241, 255);

  // fonts
$colorFontDarkTransparent: rgba(34, 58, 94, 0.2);
$colorFontLightTransparent: rgba(255, 255, 255, 0.25);
  // backgrounds

  // common
$colorLightest: rgb(255, 255, 255);
$colorDarker: rgb(238, 241, 255);
$colorDark: rgb(34, 58, 94);
$colorDarkest: rgb(49, 49, 49);
$colorHighlight: rgb(255, 117, 73);
$colorHighlight2: rgb(240, 108, 69);
$colorSlideMark: rgb(31, 52, 84);

  // borders
$colorBorderMain: rgba(151, 151, 151, 0.09);
$colorBorderError: rgba(255, 117, 73, 0.6);
  // shadows

  // misc

// transitions
$transitionDuration: 0.3s;

// spaces
